{% extends "./layouts/page.html" %}

{% block content %}
  <div class="wrapper">
    <h1>Über VOTEinfo</h1>
    <p>Das Projekt VOTEinfo ist im Herbst 2018 im Rahmen einer Vorlesung an der Hochschule Luzern - Informatik entstanden. Da diese Arbeit weder mit Credits vergütet, noch benotet wird, hoffen wir, dass wenigstens Sie - liebe Besucher - ihre Freude an der Seite haben.</p>

    <h2>Credits</h2>
    <p><strong>Stammdaten über die Abstimmungen:</strong> Bundesamt für Statistik</p>
    <p><strong>Bild auf der Startseite:</strong> Pixabay</p>
  </div>
{% endblock %}
