{% extends "./layouts/page.html" %}

{% block content %}
  <div class="wrapper">
    <h1>Regionen</h1>
    <a href="/regions/switzerland" class="region">Ganze Schweiz</a>
    <h2>Kantone</h2>
    {% for canton in cantons %}
      <a href="/regions/canton/{{canton}}" class="region">{{canton}}</a>
    {% endfor %}
    <h2>Gemeinden</h2>
    {% for municipality in municipalities %}
      <a href="/regions/municipality/{{municipality}}" class="region">{{municipality}}</a>
    {% endfor %}
  </div>
{% endblock %}
