{% extends "./layouts/page.html" %}

{% block subNav %}
  <ul>
    <li><strong>Jahr:</strong></li>
    {% for i in range(2018, 1866, -1) -%}
      <li><a class="{{ "active" if year == i }}" href="/votes?y={{i}}">{{i}}</a></li>
    {%- endfor %}
  </ul>
{% endblock %}


{% block content %}
  <div class="wrapper">
    <h1>Abstimmungen</h1>
    <h2>{{ year }}</h2>
    {% for vote in votes %}
      <a href="/votes/{{ vote._id }}">
        <div class="vote">
          <span class="vote__date">{{ vote.date }}</span>
          <h3>{{ vote.vote }}</h3>
          <div class="vote__results" data-yes="{{ vote.votesYesPercent }}" data-no="{{ 100 - vote.votesYesPercent }}"></div>
          <div class="vote__turnout" data-percent="{{ vote.voterTurnOut }}"></div>
        </div>
      </a>
    {% else %}
      <p>Für dieses Jahr sind leider keine Daten verfügbar.</p>
    {% endfor %}
  </div>
{% endblock %}
