/*=====================================================
 Padding Utility classes distance
======================================================*/

$padding-huge:      150px;
$padding-large:     90px;
$padding-medium:    40px;
$padding-small:     20px;
$padding-tiny:      10px;

/*=====================================================
 Theme Colors
======================================================*/

$white:             #ffffff;
$lightgrey:         #eff3fc;
$grey:              #3f425a;
$darkgrey:          #1f222a;
$color1:            #2d78b7;
$red:               #d84762;
$red2:              #e996a5;
$red3:              #f2c0c9;
$green:             #7db22e;
$green2:            #a5d55d;
$green3:            #d2eaae;
